<div class="px-4 mx-auto mt-24 max-w-7xl sm:px-6 lg:px-8">
  <div class="mb-8 md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2
        class="mb-4 text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"
      >
        {{ name }}
      </h2>
      <div class="flex">
        <img class="w-10 h-10 mr-4 rounded-full" src="{{ icon }}" alt="" />
        <h3 class="mb-8 mr-4 text-2xl font-semibold text-gray-900">
          {{ temperature }}° F
        </h3>
        <h3 class="mb-8 text-2xl font-semibold text-gray-900">
          {{ shortForecast }}
        </h3>
      </div>
    </div>
  </div>
  <div class="pb-5 border-b border-gray-200">
    <h3 class="text-lg font-semibold leading-6 text-gray-900">
      Today's Overview
    </h3>
  </div>
  <div class="grid grid-cols-1 gap-4 mt-8 sm:grid-cols-2">
    <div
      class="relative flex items-center p-12 space-x-3 bg-white border border-gray-300 rounded-lg shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
    >
      <div class="flex-shrink-0 mr-4">
        <img class="w-10 h-10" src="../../../assets/images/wind.png" alt="" />
      </div>
      <div class="flex-1 min-w-0">
        <p class="text-gray-900 text-md">Wind Speed</p>
        <p class="text-3xl font-semibold text-gray-500">{{ windSpeed }}</p>
      </div>
    </div>
    <div
      class="relative flex items-center p-12 space-x-3 bg-white border border-gray-300 rounded-lg shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
    >
      <div class="flex-shrink-0 mr-4">
        <img
          class="w-10 h-10"
          src="../../../assets/images/humidity.png"
          alt=""
        />
      </div>
      <div class="flex-1 min-w-0">
        <p class="text-gray-900 text-md">Humidity</p>
        <p class="text-3xl font-semibold text-gray-500">{{ humidity }} %</p>
      </div>
    </div>
  </div>
</div>
